@import 'config/color';

.floating_btn {
  display: block;
  width: 160px;
  height: 160px;
  background-color: $mercariRed;
  color: $baseColor;
  border-radius: 50%;
  padding-top: 23px;
  text-align: center;
  z-index: 1000;
  position: fixed;
  right: 30px;
  bottom: 30px;
  &__title {
    font-size: 22px;
  }
  &__camera {
    color: $baseColor;
  }
}

.swiper-slide1 {
  width: 100vw;
}

.container {
  padding: 40px 0;
  &__head {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  &__items {
    &__h3{
      text-align: center;
      margin: 26px 11px;
      &__link{
        color: #0099e8;
        font-weight: bold;
        font-size: 22px;
      }
    }
    &__content {
      display: flex;
      justify-content: center;
      width: auto;
      &__box {
        margin-left: 20px;
        background-color: $baseColor;
        position: relative;
        &__body {
          padding: 11px;
          &__title {
            text-align: left;
          }
          .price {
            font-size: 15px;
          }
        }
        p {
          font-size: 10px;
          position: absolute;
          left: 12px;
          bottom: 4px;
        }
      }
    }
  }
}

.product_footer {
  background-color: #000;
  height: 600px;
  &__img {
    width: 100vw;
  }
}