@import 'config/color';
@import 'config/mixin';

.pay_after_container {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  &__content {
    padding: 20px 40px;
    &__h2 {
      font-size: 22px;
      font-weight: 600;
      text-align: center;
    }
    &__btn {
      @include btnSetting;
      margin: 20px 0;
    }
  }
}
