.product_show_container{
  .item-box-container {
    width:700px;
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    background-color: #fff;
    box-sizing: border-box;
    .item-name {
      font-size: 24px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
      word-wrap: break-word;
    }
    .item-main-content {
      display:flex;
      margin: 16px 0 0;
      &__photo {
        min-width: 300px;
        max-width: 300px;
        min-height: 375px;
        &__image{
          width: 300px;
          height: 375px;
        }
      }
      &__detail-table {
        width: 100%;
        max-width: 300px;
        font-size: 14px;
        height: 375px;
        margin: 0 auto;
        border-collapse: collapse;
        border: 1px solid #f5f5f5;
        border-spacing: 0;
        th {
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;
        }
        th, td {
          border-collapse: collapse;
          border: 1px solid #f5f5f5;
          padding: 8px;
        }
        .face{
          display: flex;
          .item-user-ratings {
            margin-right: 5px;
            .fa.fa-smile {
              color: #ef5185;
            }
            .fa.fa-meh {
              color: #fba933;
            }
            .fa.fa-frown{
              color: #6ab5d8;
            }
          }
        }
      }
    }

    .item-price-box {
      margin: 24px 0 0;
      text-align: center;
      &__price {
        margin: 0 16px 0 0;
        font-size: 50px;
        font-weight: bold;
      }
      &__tax {
        font-size: 10px;
      }
      &__shipping-fee {
        font-size: 16px;
      }
    }

    .btn-default {
      height: 60px;
      line-height: 60px;
      margin: 16px 0 0;
      font-weight: bold;
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 24px;
      border: 1px solid transparent;
      cursor: pointer;
      text-align: center;
      margin-top: 10px;
    }

    .btn-red {
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }

    .item-description {
      margin: 24px 0 0;
      padding: 32px 0 0;
      font-size: 18px;
      line-height: 1.5;
      &__inner {
        white-space: pre-wrap;
      }
    }

    .item-button-container {
      display:flex;
      padding:20px 0;
      margin:16px 0 0;
      font-size:14px;
      &__left {
        display:flex;
        margin-right:20px;
        &__like{
          color: #333;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          margin-right:20px;
          padding: 8px 16px;
          border-radius: 40px;
        }
        &__dislike {
          color: #ea352d;
          border: 1px solid #ea352d;
          margin-right:20px;
          padding: 8px 16px;
          border-radius: 40px;
          a {
            color: #ea352d;
          }
        }
        &__report{
          color: #333;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
        }
      }
      &__right {
        margin: 10px;
      }
    }
  }

  .item-detail-comment {
    width: 700px;
    margin: 8px auto;
    background-color: #fff;    
    &__content {
      padding: 24px;
    }
    &__form {
      >p {
        padding: 8px;
        margin-bottom:10px;
        font-size: 14px;
        background: #fff6de;
      }

      .textarea-default{
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }

      .comment-submit {
        margin-top:8px;
        display: block; 
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        color: #fff;
      }
    }
  }
}