@mixin listSetting {
  width: 200px;
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  display: none;
  border: 1px solid;
  border-color: #fff #e0e0e0 #e0e0e0 #e0e0e0;
}

@mixin listLinks {
  width: 100%;
  height: 100%;
}

@mixin formSetting {
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
}

@mixin btnSetting {
  background: $mercariRed;
  border: 1px solid $mercariRed;
  color: $baseColor;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
