%h2.form-container__title 電話番号の確認
.form_box
  .field
    = label_tag '携帯電話の番号'
    = text_field_tag '', '', class: 'field__form', placeholder: "携帯電話の番号を入力"
    %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
  .field
    = button_tag 'SMSを送信する', class: 'field__btn', id: 'certification_btn', type: 'button'
    %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
