%h2.form-container__title 会員登録完了
.form_box
  .field
    %p.thanks_text
      ありがとうございます。
      %br>/
      会員登録が完了しました。
  .field
    = link_to root_path, class: 'phone_link' do
      = button_tag 'メルカリをはじめる', class: 'field__btn'
