%body
  %header.registration_header
    = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1073571291', width: "185", height: "49"
    %nav.progress_container
      %ol.progressbar
        %li.active
          会員情報
          .progress-status.active
        %li.active.now
          電話番号認証
          .progress-status.active
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %section.form-container
    %h2.form-container__title 電話番号の確認
    .new_user
      .form_box
        .field
          %label 携帯電話の番号
          %input.field__form{:placeholder => "携帯電話の番号を入力", :type => "text"}/
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .field
          = link_to new_user_address_path(current_user.id), class: 'phone_link' do
            %input.field__btn{:type => "submit", :value => "SMSを送信する"}/
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
  = render 'registration_footer'
