<header class="registration_header">
  <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1073571291" width="185" height="49" class="">
  <nav class="progress_container">
    <ol class="progressbar">
      <li class="active">会員情報<div class="progress-status active"></div></li>
      <li class="active now">電話番号認証<div class="progress-status active"></div></li>
      <li>お届け先住所入力<div class="progress-status"></div></li>
      <li>支払い方法<div class="progress-status"></div></li>
      <li>完了<div class="progress-status"></div></li>
    </ol>
  </nav>
</header>
<section class="form-container">
  <h2 class="form-container__title">電話番号の確認</h2>
  <div class="new_user">
    <div class="form_box">
      <div class="field">
        <label>携帯電話の番号</label>
        <input type='text' placeholder='携帯電話の番号を入力' class="field__form">
        <p>本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。</p>
      </div>
      <div class="field">
        <%= link_to new_user_address_path(current_user.id), class: 'phone_link' do %>
          <input type='submit' value='SMSを送信する' class="field__btn">
        <% end %>
        <p>※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。</p>
      </div>
    </div>
  </div>
</section>
<%= render 'registration_footer'%>