- if user_signed_in?
  - if product.like_user(current_user.id)
    .item-button-container__left__dislike
      =link_to user_product_like_path(current_user, product, like), method: "DELETE", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span 
          = product.likes_count
  - else
    .item-button-container__left__like
      =link_to user_product_likes_path(current_user, product), method: "POST", remote: true do
        %i.fas.fa-heart
        %span いいね！
        %span
          = product.likes_count
-else
  .item-button-container__left__like
    %i.fas.fa-heart
      %span いいね！
      %span
        = product.likes_count
  