.logout_container
  = render '/products/header'
  .logout-body
    = render '/users/user-side'
    .logout_main__content
      .logout_main__content--button
        ログアウト
  = render '/products/footer'
