.logout_container
  = render 'shared/header'
  .logout-body
    = render '/users/user-side'
    .logout_main__content
      = link_to destroy_user_session_path, { method: :delete } do
        .logout_main__content--button
          ログアウト
  = render '/products/global_footer'
