%li.first_list
  .first_list_box
    = link_to "#{grandparent.name}", category_path(grandparent), class: "top_links"
    %ul.second_lists
      = render partial: "shared/parent", collection: grandparent.children
      