@import "config/color";
  //中身
.users_credit-body {
  background-color:#f5f5f5;
  width: 1020px;
  margin: 40px auto;
  display: flex;
  //右側大部分
  .users_credit_main_content{
    width: 700px;
      //creditボタンのヘッダー
    .users_credit_header{
      width: 100%;
      height: 50px;
      background-color: #fff;
      border-bottom: solid 2px #EEEEEE;
      &__text{
        padding: 8px 24px;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
      }
    }
    //creditの中身部分
    .users_credit_main__content {
      background-color: #fff;
      height: 300px;
      &__link{
        padding: 8px 24px;
        font-size: 14px;
        color: #6495ED;
        margin-top: 40px;
        margin-right: 50px;
        text-align: right;
        &__arrow {
          line-height: 19px;
          padding-left: 10px;
        }
      }
        //ボタンとその周り
      .users_credit_button__content{
        width: 520px;
        height: 170px;
        border-bottom: solid 1px #EEEEEE;
        margin: 0 auto;
        &__text{
          padding-top: 40px;
          font-weight: bold;
          font-size: 15px;
          margin-left: 100px;
          &__button {
            height: 50px;
            width: 300px;
            display: block;
            background-color: $mercariRed;
            &__content {
              margin-top: 20px;
              line-height: 50px;
              text-align: center;
              font-size: 13px;
              color: #fff;
              &__credit {
                padding-right: 10px;
              }
            }
          }
        }
      }
    } 
  } 
}