.address_edit_container{
  margin: 40px auto 0;
  .main_i_container{
    background-color:#f5f5f5;
    height: 1300px;
    width: 1020px;
    margin: 40px 210px 40px 210px;
    &__registration{
      float: right;
      width: calc(100vw - 742px);
      height: 100%;
      &__chapter-head{
        font-size: 24px;
        font-weight: bold;
        padding: 8px 24px;
        text-align: center;
        border-bottom: 1px solid #f5f5f5; 
        text-align: center;
        background-color:#fff;
      }
      &__chapter-center{
        padding: 64px;
        background-color:#fff;
        &__top{
          margin: 0 0 50px;
          font-size: 14px;
        }
        &__under{
          font-size: 14px;
        }
      }
    }
    .form-require {
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    .form-optional {
      background: #ccc;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }
    .form-group {
      margin: 40px 0 0;
      width: 100%;
      label {
        display: inline-block;
        font-weight: 600;
        margin:0 0 8px;
      }
    }
    .input-default{
      height: 48px;
      width: 572px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 48px;
      font-size: 14px;
      border: 1px solid transparent;
      -webkit-transition: all ease-out .3s;
      transition: all ease-out .3s;
      cursor: pointer;
      text-align: center;
      margin-top: 10px;
    }
    .btn-red {
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
    }
  }
}