<%# 繰り返している記述はDBが出来次第DBの情報から処理 %>
<section class="container">
  <h2 class="container__head">ピックアップカテゴリー</h2>
  <section class="container__items">
    <h3 class="container__items__h3">
      <a href="" class="container__items__h3__link">レディース新着アイテム</a>
    </h3>
    <div class="container__items__content">

      <section class="container__items__content__box">
        <a href="">
          <%= image_tag "UNADJUSTEDNONRAW_thumb_111a.jpg", width: '213', height: '220' %>
          <div class="container__items__content__box__body">
            <h3 class="container__items__content__box__body__title">タイトル</h3>
            <div>
              <div class="price">1,200</div>
            </div>
          </div>
          <p>(税込)</p>
        </a>
      </section>

      <section class="container__items__content__box">
        <a href="">
          <%= image_tag "UNADJUSTEDNONRAW_thumb_111a.jpg", width: '213', height: '220' %>
          <div class="container__items__content__box__body">
            <h3 class="container__items__content__box__body__title">タイトル</h3>
            <div>
              <div class="price">¥1,200</div>
            </div>
          </div>
          <p>(税込)</p>
        </a>
      </section>

    </div>
  </section>
</section>

<section class="container">
    <h2 class="container__head">ピックアップブランド</h2>
    <section class="container__items">
      <h3 class="container__items__h3">
        <a href="" class="container__items__h3__link">シャネル新着アイテム</a>
      </h3>
      <div class="container__items__content">

        <section class="container__items__content__box">
          <a href="">
            <%= image_tag "UNADJUSTEDNONRAW_thumb_111a.jpg", width: '213', height: '220' %>
            <div class="container__items__content__box__body">
              <h3 class="container__items__content__box__body__title">タイトル</h3>
              <div class="price">1,200</div>
            </div>
            <p>(税込)</p>
          </a>
        </section>

        <section class="container__items__content__box">
          <a href="">
            <%= image_tag "UNADJUSTEDNONRAW_thumb_111a.jpg", width: '213', height: '220' %>
            <div class="container__items__content__box__body">
              <h3 class="container__items__content__box__body__title">タイトル</h3>
              <div>
                <div class="price">¥1,200</div>
              </div>
            </div>
            <p>(税込)</p>
          </a>
        </section>
      </div>
    </section>
  </section>