= render "header"
.product_show_container
  %section.item-box-container.single-container-section
    %h1.item-name ドクターマーチン Dr.Martens 1460Z 8 EYE BOOT(8ホールブーツ) 10072004 （ブラック）ドクターマーチン
    .item-main-content.clearfix
      .item-main-content__photo
        = image_tag "boots.jpg", width: '300', height: '375'
      %table.item-main-content__detail-table
        %tbody
          %tr
            %th 出品者
            %td
              =link_to "ATSU", "#"
              .face
                .item-user-ratings
                  %i.fa.fa-smile 
                  %span 0
                .item-user-ratings
                  %i.fa.fa-meh
                  %span 0
                .item-user-ratings
                  %i.fa.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              =link_to "#" do
                %div メンズ
              =link_to "#" do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                  靴
              =link_to "#" do
                .item-detail-table-sub-sub-category
                  %i.fa.fa-chevron-right
                  ブーツ
          %tr
            %th ブランド
            %td ドクターマーチン
          %tr
            %th 商品のサイズ
            %td 26.5cm
          %tr
            %th 商品の状態
            %td 目立った傷や汚れなし
          %tr
            %th 配送料の負担
            %td 送料込み(出品者負担)
          %tr
            %th 配送の方法
            %td ゆうゆうメルカリ便
          %tr
            %th 配送元地域
            %td=link_to "神奈川県", "#"
          %tr
            %th 発送日の目安
            %td 1~2日で発送

    .item-price-box
      %span.item-price-box__price ¥ 8,000
      %span.item-price-box__tax (税込)
      %span.item-price-box__shipping-fee 送料込み
      
    =link_to "購入画面に進む", "", class: "btn-default btn-red"

    .item-description
      %p.item-description__inner
        [値下げ交渉可]
        %br
        付属品はありません。
        %br
        こちらのみを箱に入れて配送致します。
        %br
        中古品ですので、気になるかたはご遠慮下さいませ。

    .item-button-container
      .item-button-container__left
        .item-button-container__left__like
          =link_to "#" do
            %i.fas.fa-heart
            %span いいね！
            %span 1
        .item-button-container__left__report
          =link_to "#" do
            %i.fa.fa-flag
            %span 不適切な商品の報告
      .item-button-container__right
        =link_to "#" do
          %i.fa.fa-lock
          %span あんしん・あんぜんの取り組み

  .item-detail-comment
    .item-detail-comment__container
      .item-detail-comment__content
        %form.item-detail-comment__form
          %p
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.textarea-default
          %button.comment-submit.btn-default
            %span コメントする

%footer.product_footer
  = image_tag "4707dcfb8a2ec063cff172a0ba8cef4b.jpg", class: 'product_footer__img'